@section StyleSheet {
    <link rel="stylesheet" href="~/Content/StockGame/Landing.css" />
}

@section Scripts {
    <script src="~/Scripts/StockGame/Landing.js" defer></script>
}

@section Title {
    Landing
}

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <header>
        <h2>Virtual Stock Market</h2>
        <p> Compete with your pals to buy and sell stock in this fast pace investment game! </p>
    </header>
    <nav>
        <ul>
            <li>@Html.ActionLink("Register", "Register", "User")</li>
            <li>@Html.ActionLink("Login", "Login", "User")</li>   
        </ul>
    </nav>
    <section>
    </section>
</body>
</html>