﻿@section StyleSheet {
    <link rel="stylesheet" href="~/Content/StockGame/About.css" />
}

@section Scripts {
    <script src="~/Scripts/StockGame/About.js" defer></script>
}

@section Title {
    About
}
