@section StyleSheet {
    <link rel="stylesheet" href="~/Content/StockGame/Game.css" />
}

@section Scripts {
    <script src="~/Scripts/StockGame/Game.js" defer></script>
}

@section Title {
    Game
}

<div id="players">

</div>
<div id="stocks">

</div>
