﻿@section StyleSheet {
    <link rel="stylesheet" href="~/Content/StockGame/Game.css" />
}

@section Scripts {
    <script src="~/Scripts/StockGame/Game.js" defer></script>
}

@section Title {
    Game
}
@model Capstone.UserItem



<div class="container-fluid debug game-container">

<div class="container debug">

    <div class="row debug">
        <div class="col-sm-6 debug">
            <h1 id="PlayerUsername">@Model.Username</h1>
        </div>
        <div class="col-sm-6 debug">
            <h1>10:00</h1>
        </div>
    </div>
    <div class="row debug">
        <div class="col-lg debug">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
        </div>
    </div>
    <div class="row debug">
        <div class="col-md-9 debug table-responsive">
            <h3>UserStats</h3>
            <table class="table table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#held(paid)</th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Company</th>
                        <th scope="col">Gain/Loss</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">5($9.42)</th>
                        <td>SNAP</td>
                        <td>Snapchat</td>
                        <td>$10.53</td>
                    </tr>
                    <tr>
                        <th scope="row">1($365.23)</th>
                        <td>TSLA</td>
                        <td>Tesla</td>
                        <td>$368.89</td>
                    </tr>
                    <tr>
                        <th scope="row">12($168.98)</th>
                        <td>FB</td>
                        <td>Facebook</td>
                        <td>$146.87</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3 debug table-responsive">
            <h3>Leaderboard</h3>
            <table class="table table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Player</th>
                        <th scope="col">$$$</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Lucass</th>
                        <td>$109,756</td>
                    </tr>
                    <tr>
                        <th scope="row">M.C.Clean</th>
                        <td>$99,430</td>
                    </tr>
                    <tr>
                        <th scope="row">Alexxx</th>
                        <td>$129,123</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row debug">
        <div class="col-lg debug table-responsive">
            <table class="table table-striped table-hover table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#held(paid)</th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Company</th>
                        <th scope="col">Price</th>
                        <th scope="col">Buy</th>
                        <th scope="col">Sell</th>
                        <th scope="col">Shares</th>
                    </tr>
                </thead>
                <tbody id="stockTable">
                    <tr>
                        <th scope="row">5($9.42)</th>
                        <td>SNAP</td>
                        <td>Snapchat</td>
                        <td>$10.53</td>
                        <td><button type="button" class="btn btn-success btn-sm">Buy</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm">Sell</button></td>
                        <td width="10"><input class="form-control form-control-sm" type="text"></td>
                    </tr>
                    <tr>
                        <th scope="row">1($365.23)</th>
                        <td>TSLA</td>
                        <td>Tesla</td>
                        <td>$368.89</td>
                        <td><button type="button" class="btn btn-success btn-sm">Buy</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm">Sell</button></td>
                        <td width="10"><input class="form-control form-control-sm" type="text"></td>
                    </tr>
                    <tr>
                        <th scope="row">12($168.98)</th>
                        <td>FB</td>
                        <td>Facebook</td>
                        <td>$146.87</td>
                        <td><button type="button" class="btn btn-success btn-sm">Buy</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm">Sell</button></td>
                        <td width="10"><input class="form-control form-control-sm" type="text"></td>
                    </tr>
                    <tr>
                        <th scope="row">5($9.42)</th>
                        <td>SNAP</td>
                        <td>Snapchat</td>
                        <td>$10.53</td>
                        <td><button type="button" class="btn btn-success btn-sm">Buy</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm">Sell</button></td>
                        <td width="10"><input class="form-control form-control-sm" type="text"></td>
                    </tr>
                    <tr>
                        <th scope="row">1($365.23)</th>
                        <td>TSLA</td>
                        <td>Tesla</td>
                        <td>$368.89</td>
                        <td><button type="button" class="btn btn-success btn-sm">Buy</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm">Sell</button></td>
                        <td width="10"><input class="form-control form-control-sm" type="text"></td>
                    </tr>
                    <tr>
                        <th scope="row">12($168.98)</th>
                        <td>FB</td>
                        <td>Facebook</td>
                        <td>$146.87</td>
                        <td><button type="button" class="btn btn-success btn-sm">Buy</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm">Sell</button></td>
                        <td width="10"><input class="form-control form-control-sm" type="text"></td>
                    </tr>
                    <tr>
                        <th scope="row">5($9.42)</th>
                        <td>SNAP</td>
                        <td>Snapchat</td>
                        <td>$10.53</td>
                        <td><button type="button" class="btn btn-success btn-sm">Buy</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm">Sell</button></td>
                        <td width="10"><input class="form-control form-control-sm" type="text"></td>
                    </tr>
                    <tr>
                        <th scope="row">1($365.23)</th>
                        <td>TSLA</td>
                        <td>Tesla</td>
                        <td>$368.89</td>
                        <td><button type="button" class="btn btn-success btn-sm">Buy</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm">Sell</button></td>
                        <td width="10"><input class="form-control form-control-sm" type="text"></td>
                    </tr>
                    <tr>
                        <th scope="row">12($168.98)</th>
                        <td>FB</td>
                        <td>Facebook</td>
                        <td>$146.87</td>
                        <td><button type="button" class="btn btn-success btn-sm">Buy</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm">Sell</button></td>
                        <td width="10"><input class="form-control form-control-sm" type="text"></td>
                    </tr>
                    <tr>
                        <th scope="row">5($9.42)</th>
                        <td>SNAP</td>
                        <td>Snapchat</td>
                        <td>$10.53</td>
                        <td><button type="button" class="btn btn-success btn-sm">Buy</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm">Sell</button></td>
                        <td width="10"><input class="form-control form-control-sm" type="text"></td>
                    </tr>
                    <tr>
                        <th scope="row">1($365.23)</th>
                        <td>TSLA</td>
                        <td>Tesla</td>
                        <td>$368.89</td>
                        <td><button type="button" class="btn btn-success btn-sm">Buy</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm">Sell</button></td>
                        <td width="10"><input class="form-control form-control-sm" type="text"></td>
                    </tr>
                    <tr>
                        <th scope="row">12($168.98)</th>
                        <td>FB</td>
                        <td>Facebook</td>
                        <td>$146.87</td>
                        <td><button type="button" class="btn btn-success btn-sm">Buy</button></td>
                        <td><button type="button" class="btn btn-danger btn-sm">Sell</button></td>
                        <td width="10"><input class="form-control form-control-sm" type="text"></td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
    </div>
    </div>
